@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

@import "tailwindcss";


.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}